body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #421470;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #1fe60d;
    text-decoration: none;
  }
  
  section {
    padding: 50px;
  }
  
  section h1, section h2 {
    margin-bottom: 20px;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .image-gallery img {
    max-width: 100%;
    height: auto;
  }
  
  #contact-form input,
  #contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  #contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #10d510;
  }  